mat-icon{
    cursor: pointer;
}

i{
    font-size:25px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}

.hehe{
    font-size: 30px;
}

.float-center{
    float: center;
}

.indigo{
    color: #3F51B5
}

mat-card img{
    margin: 10px;
}
.baby{
    height: 200px;
    width: 200px;
}
.boi{
    height: 425px;
    width: 250px;
}