<style>
    @import url('https://fonts.googleapis.com/css?family=Ubuntu|Pacifico|Comfortaa');
    </style>
    
    <div class="jumbotron">
            <div class="container">
            <h1 class="display-3">Inventory Check</h1>
            <p class="lead">
              check the inventory status, click add or reduce button to maintain stock up to date
            </p>
          </div>
          </div> 


  <hr>
  <div fxLayoutGap="5px" class="flex-container">
  <div fxLayout.xs="column" *ngFor="let note of notes | async" class= "flex-item">
    <note-detail [note]="note"></note-detail>
  </div>
  </div>

  <hr>
  <br>
  <input [(ngModel)]="content" placeholder="Product Name" class="input">
  <input [(ngModel)]="subcontent" placeholder="Product Serial Number" class="input">
  <input [(ngModel)]="title" placeholder="Content" class="input">
  <input [(ngModel)]="pic" placeholder="Picture Link" class="input">
  
  
  <button class="button is-warning" style="float: center;" (click)="clickHandler()" [disabled]="content?.length < 2 || content?.length > 200">
    Add Product
  </button>