.example-icon{
  padding: 0 14px;
}

mat-icon{
  color: white;
  margin: 6px;
}
.example-spacer {
  flex: 1 1 auto;
}

.fontPacifico{
  font-family: 'Pacifico';
  font-size: 110%;
}

a.no_text_decoration{
  text-decoration: none;
  color: white;
}

a.no_text_decoration2{
  text-decoration: none;
  color: grey;
}