

<h3> NOTICE BOARD </h3>

<div *ngIf="auth.user | async as user">


<input [(ngModel)]="title" placeholder="add title" class="input">

<input [(ngModel)]="content" placeholder="add content" class="input">


<button class="button is-dark" (click)="clickHandler()" [disabled]="content?.length < 2 || content?.length > 200">
  Add Notice
</button>

</div>

<hr>

<div style="margin-top: 25px" class="card text-yellow border-light mb-3" *ngFor="let post of posts | async">
  <div>
    <h4 class="card-header" style="padding: 15px"><b>{{ post.title }}</b></h4>
    <h5 class="card-body" style="padding: 15px">{{ post.content }}</h5>

    <p style="margin-left: 20px"> Last updated {{ post.time  | timeAgo}} </p>
    <span style="margin: 15px" class="button is-warn" (click)='deletePost(post?.id)'>Delete</span>
  </div>
</div>
