

<h3> NOTICE BOARD </h3>

<div *ngIf="auth.user | async as user">

<div class="margin-small">
<input [(ngModel)]="title" placeholder="add title" class="input">

<input [(ngModel)]="content" placeholder="add content" class="input">


<button class="button" style="background-color: #5C6BC0; color: white" (click)="clickHandler()" [disabled]="content?.length < 2 || content?.length > 200">
  add notice
</button>

</div>
</div>
<hr>

<div class="border mb-3 margin-small" *ngFor="let post of posts | async">
  <div class="card-body">
      <span style="float:right;" class="button is-default" (click)='deletePost(post?.id)'>Delete</span>
      
    <h4 class="card-title" style="padding-left: 5px"><b>{{ post.title }}</b></h4>
    <br>
    <h5 class="card-text" style="padding-left: 15px">{{ post.content }}</h5>

    <p class="card-text" style="padding-left: 10px" class="text-blue"> Last updated {{ post.time  | timeAgo}} </p>
  </div>
</div>
