.text-blue{
    color: #0275d8
}

.height-small{
    height: 200px;
    vertical-align: middle;
}

.margin-small{
    margin: 20px;
}

// .card{
//     color: white;
// }

.card-title{
    color: black;
    font-style: bold;
}

.card-text{
    color:black;
}

.border{
    border-radius: 20px;
    border-style: solid grey;
}