
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>



<div id="wrapper">
  <main-nav></main-nav>

  <div class="content columns">

    <main>
      <router-outlet></router-outlet>
    </main>
  </div>


  <footer class="footer">
    Angular v6.x + Firebase App <br>
    Cortado: simple managing platform that allows scheduling and inventory checkups with messaging, notifying features.
    <br>Modified from original Source of <a href="https://jeffdelaney.me">Jeff Delaney</a> | MIT License
  </footer>


</div>
