<div class="container">

<div class="jumbotron">

    <h2 class="display-3">This week's Schedule</h2>
    <p class="lead">
        message me only if emergency 
    </p>
  </div>


  <div *ngIf="isManager">


    <div  *ngFor="let post of posts | async">
        <table>
            <tr>
                <th> &nbsp; </th> <th class="aligncenter"> mon </th> <th class="aligncenter"> tue </th> <th class="aligncenter"> wed </th> <th class="aligncenter"> thu </th><th class="aligncenter"> fri </th> <th class="aligncenter"> sat </th> <th class="aligncenter"> sun </th>
            </tr>
            <tr>
                <th class="aligncenter4"> morning </th> <td class="aligncenter2"> <input [(ngModel)]="mon1" placeholder="{{post.mon1}}" class="input"> </td> <td class="aligncenter2"> <input [(ngModel)]="tue1" placeholder="{{post.tue1}}" class="input"> </td> <td class="aligncenter2"> <input [(ngModel)]="wed1" placeholder="{{post.wed1}}" class="input"> </td> <td class="aligncenter2"> <input [(ngModel)]="thu1" placeholder="{{post.thu1}}" class="input"> </td><td class="aligncenter2"> <input [(ngModel)]="fri1" placeholder="{{post.fri1}}" class="input"> </td> <td class="aligncenter2"> <input [(ngModel)]="sat1" placeholder="{{post.sat1}}" class="input"> </td> <td class="aligncenter2"> <input [(ngModel)]="sun1" placeholder="{{post.sun1}}" class="input"> </td>
            </tr>
            <tr>
                <th class="aligncenter4"> day </th> <td class="aligncenter2"> <input [(ngModel)]="mon2" placeholder="{{post.mon2}}" class="input"> </td> <td class="aligncenter2"> <input [(ngModel)]="tue2" placeholder="{{post.tue1}}" class="input"> </td> <td class="aligncenter2"> <input [(ngModel)]="wed2" placeholder="{{post.wed1}}" class="input"> </td> <td class="aligncenter2"> <input [(ngModel)]="thu2" placeholder="{{post.thu2}}" class="input"> </td><td class="aligncenter2"> <input [(ngModel)]="fri2" placeholder="{{post.fri2}}" class="input"> </td> <td class="aligncenter2"> <input [(ngModel)]="sat2" placeholder="{{post.sat2}}" class="input"> </td> <td class="aligncenter2"> <input [(ngModel)]="sun2" placeholder="{{post.sun2}}" class="input"> </td>
            </tr>
            <tr>
                <th class="aligncenter4"> evening </th> <td class="aligncenter2"> <input [(ngModel)]="mon3" placeholder="{{post.mon3}}" class="input"> </td> <td class="aligncenter2"> <input [(ngModel)]="tue3" placeholder="{{post.tue1}}" class="input"> </td> <td class="aligncenter2"> <input [(ngModel)]="wed3" placeholder="{{post.wed1}}" class="input"> </td> <td class="aligncenter2"> <input [(ngModel)]="thu3" placeholder="{{post.thu3}}" class="input"> </td><td class="aligncenter2"> <input [(ngModel)]="fri3" placeholder="{{post.fri3}}" class="input"> </td> <td class="aligncenter2"> <input [(ngModel)]="sat3" placeholder="{{post.sat3}}" class="input"> </td> <td class="aligncenter2"> <input [(ngModel)]="sun3" placeholder="{{post.sun3}}" class="input"> </td>
            </tr>
        </table>
        <button class="button-center button" (click)="toggleForm()">go back</button>
        
          <button class="button-center button" align="right" style="background-color: #5C6BC0; color: white" (click)="clickHandler()">
                save
              </button>
    </div>



</div>

<div *ngIf="!isManager">


    <div  *ngFor="let post of posts | async">
        <div>
            <table class="hello">
                <tr>
                    <th> &nbsp; </th> <th class="aligncenter"> mon </th> <th class="aligncenter"> tue </th> <th class="aligncenter"> wed </th> <th class="aligncenter"> thu </th><th class="aligncenter"> fri </th> <th class="aligncenter"> sat </th> <th class="aligncenter"> sun </th>
                </tr>
                <tr>
                    <th class="aligncenter3"> morning </th> <td class="aligncenter2"> {{post.mon1}} </td> <td class="aligncenter2"> {{post.tue1}} </td> <td class="aligncenter2"> {{post.wed1}} </td> <td class="aligncenter2"> {{post.thu1}} </td><td class="aligncenter2"> {{post.fri1}} </td> <td class="aligncenter2"> {{post.sat1}} </td> <td class="aligncenter2"> {{post.sun1}}</td>
                </tr>
                <tr>
                    <th class="aligncenter3"> day </th> <td class="aligncenter2"> {{post.mon2}} </td> <td class="aligncenter2"> {{post.tue2}} </td> <td class="aligncenter2"> {{post.wed2}} </td> <td class="aligncenter2"> {{post.thu2}} </td><td class="aligncenter2"> {{post.fri2}} </td> <td class="aligncenter2"> {{post.sat2}} </td> <td class="aligncenter2"> {{post.sun2}}</td>
                </tr>
                <tr>
                    <th class="aligncenter3"> evening </th> <td class="aligncenter2"> {{post.mon3}} </td> <td class="aligncenter2"> {{post.tue3}} </td> <td class="aligncenter2"> {{post.wed3}} </td> <td class="aligncenter2"> {{post.thu3}} </td><td class="aligncenter2"> {{post.fri3}} </td> <td class="aligncenter2"> {{post.sat3}} </td> <td class="aligncenter2"> {{post.sun3}}</td>
                </tr>
            </table>
        </div>
    </div>
    <button class="button button-center" (click)="toggleForm()">manage schedule</button>
</div>

</div>