th{
    color: white;
    height: 100px;
    width: 200px;
    text-align: center;
}

td{
    text-align: center;
    vertical-align: middle;
}

.aligncenter{
    text-align: center;

    vertical-align: middle;
}

.hello{
    display: table-cell;
    text-align: center;
}