<style>
    @import url('https://fonts.googleapis.com/css?family=Pacifico');
    </style>


<form [formGroup]="userForm"  *ngIf="newUser"  (ngSubmit)="signup()">

  <h3>New User Signup</h3>
  <hr>

  <label for="email">Email</label>
  <input type="email" id="email" class="input"
         formControlName="email" required autocomplete="new-password">

  <div *ngIf="formErrors.email" class="notification is-danger">
    {{ formErrors.email }}
  </div>

  <label for="password">Password</label>
  <input type="password" id="password" class="input"
         formControlName="password" required >

  <div *ngIf="formErrors.password" class="notification is-danger">
    {{ formErrors.password }}
  </div>

  <div *ngIf="userForm.valid" class="notification is-success">Form is valid</div>
  <button type="submit" class="button" [disabled]="!userForm.valid">Submit</button>

</form>
